* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  height: 22px;
  width: 22px;
}

.separator {
  height: 80px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

.weather-details {
  height: 180px;
  width: 800px;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}
.weather-details .weather-text,
.weather-details .temprature,
.weather-details .day-date,
.weather-details .city-name,
.weather-details .weather-image {
  display: none;
}
.weather-details .weather-text {
  color: white;
  font-size: 20px;
}
.weather-details .weather-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
.weather-details .weather-content .temprature {
  color: white;
  font-size: 80px;
}
.weather-details .weather-content .day-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.weather-details .weather-content .day-location .day-date {
  color: white;
  font-size: 16px;
}
.weather-details .weather-content .day-location .location {
  display: flex;
  align-items: center;
  gap: 5px;
}
.weather-details .weather-content .day-location .location .city-name {
  color: white;
  font-size: 16px;
}
.weather-details .weather-image {
  position: absolute;
  right: 0px;
  top: 0px;
}
.weather-details .weather-image .weather-inner {
  position: relative;
}

.weather-sunny {
  background: linear-gradient(to right, rgb(28, 147, 253), rgb(62, 166, 255), rgb(94, 186, 255));
}
.weather-sunny .sunny-text,
.weather-sunny .sunny-temp,
.weather-sunny .sunny-day,
.weather-sunny .fransisco,
.weather-sunny .sunny-image {
  display: block;
}
.weather-sunny .sunny-inner .sun {
  position: absolute;
  height: 180px;
  width: 180px;
  background: linear-gradient(to bottom, rgb(254, 255, 178), rgb(254, 237, 139), rgb(252, 204, 67));
  border-radius: 50%;
  right: -38px;
  top: -39px;
  z-index: 3;
}
.weather-sunny .sunny-inner .sun-shine-light {
  position: absolute;
  height: 250px;
  width: 250px;
  background: rgba(162, 218, 254, 0.8);
  border-radius: 50%;
  right: -60px;
  top: -65px;
  z-index: 2;
}
.weather-sunny .sunny-inner .sun-shine-lighter {
  position: absolute;
  height: 320px;
  width: 320px;
  background: rgba(127, 201, 255, 0.7);
  border-radius: 50%;
  right: -78px;
  top: -91px;
  z-index: 1;
}

.weather-night {
  background: linear-gradient(to right, rgb(45, 98, 247), rgb(95, 109, 236), rgb(175, 127, 219));
}
.weather-night .night-text,
.weather-night .night-temp,
.weather-night .night-day,
.weather-night .paris,
.weather-night .night-image {
  display: block;
}
.weather-night .night-inner .cloud-image {
  height: 200px;
  width: 200px;
}
.weather-night .night-inner .moon {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 10px;
  right: -10px;
  transform: rotate(-30deg);
}
.weather-night .night-inner .small-clouds {
  position: absolute;
  transform: rotate(45deg);
}
.weather-night .night-inner .small-clouds > span {
  display: inline-block;
}
.weather-night .night-inner .small-clouds-v1 {
  height: 120px;
  width: 10px;
  left: -70px;
  top: 25px;
}
.weather-night .night-inner .small-clouds-v1 > span {
  margin: 15px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(162, 147, 229);
}
.weather-night .night-inner .small-clouds-v1 > span:nth-child(2) {
  height: 6px;
  width: 6px;
}
.weather-night .night-inner .small-clouds-v2 {
  height: 180px;
  width: 10px;
  left: -135px;
  top: -3px;
  transform: rotate(40deg);
}
.weather-night .night-inner .small-clouds-v2 > span {
  margin: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(162, 147, 229);
}
.weather-night .night-inner .small-clouds-v2 > span:last-child {
  height: 6px;
  width: 6px;
}
.weather-night .night-inner .small-clouds-v3 {
  height: 180px;
  width: 10px;
  left: -25px;
  top: -3px;
  transform: rotate(40deg);
}
.weather-night .night-inner .small-clouds-v3 > span {
  margin: 20px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(162, 147, 229);
}
.weather-night .night-inner .small-clouds-v3 > span:first-child {
  margin-bottom: 60px;
}
.weather-night .night-inner .small-clouds-v3 > span:nth-child(2) {
  height: 3px;
  width: 3px;
}

.weather-rainy {
  background: linear-gradient(to right, rgb(0, 191, 166), rgb(47, 211, 164), rgb(97, 236, 163));
}
.weather-rainy .rainy-text,
.weather-rainy .rainy-temp,
.weather-rainy .rainy-day,
.weather-rainy .london,
.weather-rainy .rainy-image {
  display: block;
}
.weather-rainy .rainy-image {
  top: -65px;
}
.weather-rainy .rainy-inner .cloud-image {
  height: 200px;
  width: 200px;
}
.weather-rainy .rainy-inner .thunder {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 152px;
  right: 60px;
}
.weather-rainy .rainy-inner .rain-drops {
  position: absolute;
  transform: rotate(20deg);
}
.weather-rainy .rainy-inner .rain-drops > span {
  display: inline-block;
}
.weather-rainy .rainy-inner .rain-drops-v1 {
  width: 50px;
  bottom: -41px;
  right: 20px;
}
.weather-rainy .rainy-inner .rain-drops-v1 > span {
  margin: 3px 8px;
  height: 20px;
  width: 6px;
  border-radius: 80% 80% 40% 40%;
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(174, 245, 207));
}
.weather-rainy .rainy-inner .rain-drops-v2 {
  width: 50px;
  bottom: -41px;
  right: 150px;
}
.weather-rainy .rainy-inner .rain-drops-v2 > span {
  margin: 3px 8px;
  height: 20px;
  width: 6px;
  border-radius: 80% 80% 40% 40%;
  background: linear-gradient(to top, rgb(252, 252, 252), rgb(174, 245, 207));
}
.weather-rainy .rainy-inner .rain-drops-v3 {
  width: 140px;
  bottom: -32px;
  right: 206px;
}
.weather-rainy .rainy-inner .rain-drops-v3 > span {
  margin: 10px 30px;
  height: 25px;
  width: 6px;
  border-radius: 80% 80% 30% 30%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(174, 245, 207, 0.5));
}
.weather-rainy .rainy-inner .rain-drops-v4 {
  width: 150px;
  bottom: -40px;
  right: 224px;
}
.weather-rainy .rainy-inner .rain-drops-v4 > span {
  margin: 10px 30px;
  height: 30px;
  width: 6px;
  border-radius: 80% 80% 30% 30%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(174, 245, 207, 0.5));
}
.weather-rainy .rainy-inner .rain-drops-v4 > span:nth-child(5) {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */