* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
$text-color: white;
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon {
    height: 22px;
    width: 22px;
}

.separator {
    height: 80px;
    width: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.weather-details {
    height: 180px;
    width: 800px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 30px;
    position: relative;

    .weather-text,
    .temprature,
    .day-date,
    .city-name,
    .weather-image {
        display: none;
    }

    .weather-text {
        color: $text-color;
        font-size: 20px;
    }

    .weather-content {
        .temprature {
            color: $text-color;
            font-size: 80px;
        }

        display: flex;
        align-items: center;
        gap: 15px;

        .day-location {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            .day-date {
                color: $text-color;
                font-size: 16px;
            }

            .location {
                display: flex;
                align-items: center;
                gap: 5px;

                .city-name {
                    color: $text-color;
                    font-size: 16px;
                }
            }
        }
    }

    overflow: hidden;

    .weather-image {
        position: absolute;
        right: 0px;
        top: 0px;

        .weather-inner {
            position: relative;
        }
    }
}

//////////////////////////////////WEATHER SUNNY/////////////////////////////
.weather-sunny {

    .sunny-text,
    .sunny-temp,
    .sunny-day,
    .fransisco,
    .sunny-image {
        display: block;
    }

    background: linear-gradient(to right, rgb(28, 147, 253), rgb(62, 166, 255), rgb(94, 186, 255));

    .sunny-inner {
        .sun {
            position: absolute;
            height: 180px;
            width: 180px;
            background: linear-gradient(to bottom, rgb(254, 255, 178), rgb(254, 237, 139), rgb(252, 204, 67));
            border-radius: 50%;
            right: -38px;
            top: -39px;
            z-index: 3;
        }

        .sun-shine-light {
            position: absolute;
            height: 250px;
            width: 250px;
            background: rgba(162, 218, 254, 0.8);
            border-radius: 50%;
            right: -60px;
            top: -65px;
            z-index: 2;
        }

        .sun-shine-lighter {
            position: absolute;
            height: 320px;
            width: 320px;
            background: rgba(127, 201, 255, 0.7);
            border-radius: 50%;
            right: -78px;
            top: -91px;
            z-index: 1;
        }
    }
}

///////////////////////////////WEATHER NIGHT///////////////////////////////
.weather-night {

    .night-text,
    .night-temp,
    .night-day,
    .paris,
    .night-image {
        display: block;
    }

    background: linear-gradient(to right, rgb(45, 98, 247), rgb(95, 109, 236), rgb(175, 127, 219));

    .night-inner {
        .cloud-image {
            height: 200px;
            width: 200px;
        }

        .moon {
            position: absolute;
            height: 100px;
            width: 100px;
            top: 10px;
            right: -10px;
            transform: rotate(-30deg);
        }
        .small-clouds{
            position: absolute;
            transform: rotate(45deg);
            >span {
                display: inline-block;
            }
        }
        .small-clouds-v1 {
            height: 120px;
            width: 10px;
            left: -70px;
            top: 25px;
            >span{
                margin: 15px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: rgb(162,147,229);
            }
            >span:nth-child(2){
                height: 6px;
                width: 6px;
            }
        }
        .small-clouds-v2 {
            height: 180px;
            width: 10px;
            left: -135px;
            top: -3px;
            transform: rotate(40deg);
            >span{
                margin: 20px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: rgb(162,147,229);
            }
            >span:last-child{
                height: 6px;
                width: 6px;
            }
        }
        .small-clouds-v3 {
            height: 180px;
            width: 10px;
            left: -25px;
            top: -3px;
            transform: rotate(40deg);
            >span{
                margin: 20px;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: rgb(162,147,229);
            }
            >span:first-child{
                margin-bottom: 60px;
            }
            >span:nth-child(2){
                height: 3px;
                width: 3px;
            }
            // >span:last-child{
            //     height: 6px;
            //     width: 6px;
            // }
        }
    }
}

///////////////////////////////////////WEATHER RAINY//////////////////////////////
.weather-rainy {

    .rainy-text,
    .rainy-temp,
    .rainy-day,
    .london,
    .rainy-image {
        display: block;
    }

    background: linear-gradient(to right, rgb(0, 191, 166), rgb(47, 211, 164), rgb(97, 236, 163));

    .rainy-image {
        top: -65px;
    }

    .rainy-inner {
        .cloud-image {
            height: 200px;
            width: 200px;
        }

        .thunder {
            position: absolute;
            height: 80px;
            width: 80px;
            top: 152px;
            right: 60px;
        }
        .rain-drops{
            position: absolute;
            transform: rotate(20deg);
            >span {
                display: inline-block;
            }
        }
        .rain-drops-v1 {
            width: 50px;
            bottom: -41px;
            right: 20px;
            >span{
                margin: 3px 8px;
                height: 20px;
                width: 6px;
                border-radius: 80% 80% 40% 40%;
                background: linear-gradient(to top, rgb(255, 255, 255), rgb(174,245,207));
            }
        }
        .rain-drops-v2 {
            width: 50px;
            bottom: -41px;
            right: 150px;
            >span{
                margin: 3px 8px;
                height: 20px;
                width: 6px;
                border-radius: 80% 80% 40% 40%;
                background: linear-gradient(to top, rgb(252, 252, 252), rgb(174,245,207));
            }
        }
        .rain-drops-v3 {
            width: 140px;
            bottom: -32px;
            right: 206px;
            >span {
                margin: 10px 30px;
                height: 25px;
                width: 6px;
                border-radius: 80% 80% 30% 30%;
                background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(174,245,207, 0.5));
            }
        }
        .rain-drops-v4 {
            width: 150px;
            bottom: -40px;
            right: 224px;
            >span{
                margin: 10px 30px;
                height: 30px;
                width: 6px;
                border-radius: 80% 80% 30% 30%;
                background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(174,245,207, 0.5));
            }
            >span:nth-child(5){
                visibility: hidden;
            }
        }
    }
}